*
!/**/
!/.github/workflows/*.yml
!/.vscode/extensions.json
!/.vscode/settings.json
!/src/**/*.ts
!/test/**/*.ts
!/.eslintrc.cjs
!/.gitignore
!/release.gitignore
!/.prettierignore
!/.prettierrc.json
!/action.yml
!/jest.config.cjs
!/LICENSE
!/package.json
!/package-lock.json
!/README.md
!/tsconfig.json

dist
node_modules
coverage
